@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle {
  z-index: 2;
  position: absolute;
  width: 75vh;
  top: 12.5vh;
  left: calc(50vw - 37.5vh);
  border-radius: 50%;
  box-sizing: border-box;
  transition: all .1s ease;
  box-shadow: inset 1.51554446em -0.875em 0em 0em rgba(255, 255, 255, 0.35), inset -1.51554446em -0.875em 0em 0em rgba(255, 255, 255, 0.44), inset 0 1.75em 0em 0em rgba(255, 255, 255, 0.43), inset -1.51554446em 0.875em 0em 0em rgba(255, 255, 255, 0.45), inset 1.51554446em 0.875em 0em 0em rgba(255, 255, 255, 0.45), inset 0 -1.75em 0em 0em rgba(255, 255, 255, 0.44), inset 0px 0px 200px black;
  animation: spin 90s linear infinite;
}
.circle:hover {
  box-shadow: inset 0.75777223em -0.4375em 0em 0em rgba(255, 255, 255, 0.35), inset -0.75777223em -0.4375em 0em 0em rgba(255, 255, 255, 0.44), inset 0 0.875em 0em 0em rgba(255, 255, 255, 0.43), inset -0.75777223em 0.4375em 0em 0em rgba(255, 255, 255, 0.45), inset 0.75777223em 0.4375em 0em 0em rgba(255, 255, 255, 0.45), inset 0 -0.875em 0em 0em rgba(255, 255, 255, 0.44), inset 0px 0px 200px black;
}
.circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}