/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
section:nth-child(1) {text-align: center; height: 100vh; position: relative;}
.container {padding-top: 20px; padding-bottom: 20px;}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.welcome {
    text-align: center;
}
.logo {
    height: 30vh;
    margin-top: 8vh;
    position: relative;
    z-index: 1;
}

.slogan {
    position: relative;
    z-index: 1;
    font-size: calc(11px + .6vw);
    color: white;
    margin-bottom: 0px;
    padding: 0px 15% 0px 15%;
}
#values {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
}
#pricing {
    background: #ccc;
}
#contact {
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    height: auto;
}
.flowed {
    font-weight: 400
}
.tier-header {
    color: white;
    background: #263238;
    text-align: center;
    padding: 10px;
}
.tier-price {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.services {
    text-align: center;
    background: #263238;
}
.services-row {}
.tier-footer {
    text-align: center;
    padding: 3px 10px 1px 10px;
    background: #263238 !important;
    color: white;
    margin-bottom: 20px;
    font-weight: 300;
}
#footer {
    margin-top: 0px;
}
.rounded {
    border-radius: 10px;
}
#submit {
    font-size: 0.75em;
}
.carousel {
    margin-top: -75px;
}
.carousel-item {
  opacity: 1 !important;
  border-radius: 10px;
}
#first_name:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
#last_name:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
#email:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
#textarea1:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
.circleClip {
    position: fixed;
    width: 75vh;
    height: calc(75vh - 1px);
    top: 12.5vh;
    left: calc(50vw - 37.5vh);
    border-radius: 50%;
    overflow: hidden;
}
.collection {
    border: none !important;
}