/* MATERIALIZE COMPONENTS */

h1 {
	font-weight: bold;
}

section:not(#gallery) {
	padding: 20px 0;
}

.nav-wrapper {
	border-bottom: 1px solid #333;
}

nav .brand-logo {
	height: 100%;
	display: flex;
	align-items: center;
}

ul.right {
	margin-right: 15px;
}

ul.right li:not(:hover) {
	transition: .5s;
	background: transparent !important;
}

.sidenav {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.sidenav li a {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.sidenav li {
	border-top: 1px solid dimgrey;
}

.sidenav li:last-of-type {
	border-bottom: 1px solid dimgrey;
}

.carousel {
	height: 550px;
}

.carousel .carousel-item {
	height: auto;
	width: 500px;
	opacity: 1 !important;
}

.carousel img {
	height: auto;
	border-radius: 15px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .75);
}

.divider {
	margin: 5px 0;
}

.row {
	margin: 0 -.75rem;
}

.btn-large {
	border-radius: 27px;
}

.input-field .prefix.active,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #1E88E5;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #1E88E5 !important;
}

#preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

/* CUSTOM COMPONENTS */

#gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

#gallery video {
	top: 0;
	position: absolute;
	z-index: -1;
}

.guilloche {
	position: absolute;
	height: 1000px;
	width: 1000px;
	background: url('assets/guilloche.png') center center;
	background-size: cover;
	opacity: 0.3;
	animation: spin 120s infinite;
	filter: drop-shadow(1px 1px 3px black);
}

.clip-text {
	background: linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: #1E88E5;
	color: transparent;
}

@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.clip-text {
		background: transparent;
		color: #1E88E5;
	}

	.guilloche {
		display: none;
	}
}

#services {
	background: black url("assets/3px-tile.png");
}

.service-list {
	display: flex;
	flex-flow: row wrap;
	border-left-color: #1E88E5;
}

.service {
	width: 33.33%;
}

.price-columns {
	display: flex;
	flex-flow: row wrap;
}

.price-column {
	width: 33.33%;
}

.price-column .secondary {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

.price-column .secondary h1 {
	margin: 0;
}

@media (min-width: 993px) {
	nav .brand-logo {
		margin-left: 30px;
	}
}

@media (max-width: 768px) {
	.carousel {
		height: 400px;
	}

	.carousel .carousel-item {
		width: 350px;
	}

	.guilloche {
		height: 550px;
		width: 550px;
	}

	.price-column {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.service {
		width: 50%;
	}

	.carousel {
		height: 300px;
	}

	.carousel .carousel-item {
		width: 250px;
	}

	.price-column {
		width: 100%;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}