/* MATERIALIZE COMPONENTS */

body {
	background: white;
}

h1 {
	font-weight: bold;
}

section:not(#gallery) {
	padding: 20px 0;
}

.nav-wrapper {
	border-bottom: 1px solid #333;
}

nav .brand-logo {
	height: 100%;
	display: flex;
	align-items: center;
}

nav .brand-logo img {
	height: 40%;
}

ul.right {
	margin-right: 15px;
}

ul.right li:not(:hover) {
	transition: .5s;
	background: transparent !important;
}

.sidenav {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.sidenav li a {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.sidenav li {
	border-top: 1px solid dimgrey;
}

.sidenav li:last-of-type {
	border-bottom: 1px solid dimgrey;
}

.carousel {
	height: 550px;
}

.carousel .carousel-item {
	height: 375px;
	width: 500px;
	opacity: 1 !important;
}

.carousel img {
	height: auto;
	border-radius: 15px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .75);
}

.divider {
	margin: 5px 0;
}

.accent-text {
	color: #0080ce;
}

blockquote {
	border-left-color: #0080ce;
}

.row {
	margin: 0 -.75rem;
}

.btn-large {
	background: #0080ce !important;
	border-radius: 27px;
}

.input-field .prefix.active,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #0080ce;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #0080ce !important;
}

#preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	position: fixed;
	top: -300px;
	right: 0;
	bottom: -300px;
	left: 0;
	z-index: 1000;
}

@media only screen and (min-width: 993px) {
	.row .col.l6 {
		width: auto;
	}
}

@media only screen and (min-width: 1200px) {
	.row .col.l6 {
		width: 50%;
	}
}

/* CUSTOM COMPONENTS */

#gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	background: rgba(0, 0, 0, .25)
}

#gallery video {
	top: 0;
	position: absolute;
	z-index: -1;
}

.clip-text {
	/* SUMMER */
	background: url('assets/timelapse.jpg') center 33%;
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: #00acc1;
	color: transparent;
}

@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.clip-text {
		background: transparent;
		color: #00acc1;
	}
}

#services {
	background: #000;
	background-image: url("assets/buried.png");
}

.service-list {
	display: flex;
	flex-flow: row wrap;
}

.service {
	width: 33.33%;
}

.price-columns {
	display: flex;
	flex-flow: row wrap;
}

.price-column {
	width: 33.33%;
}

.price-column .secondary {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

.price-column .secondary h1 {
	margin: 0;
}

@media (min-width: 993px) {
	nav .brand-logo {
		margin-left: 30px;
	}
}

@media (max-width: 768px) {
	.carousel {
		height: 400px;
	}

	.carousel .carousel-item {
		width: 350px;
		height: 262px;
	}

	.price-column {
		width: 50%;
	}
}

@media (max-width: 600px) {

	nav .brand-logo img {
		height: 18px;
	}

	.service {
		width: 50%;
	}

	.carousel {
		height: 350px;
	}

	.carousel .carousel-item {
		width: 300px;
		height: 225px;
	}

	.price-column {
		width: 100%;
	}
}

.instructions {
	position: absolute;
	color: white;
	bottom: 10px;
	animation: fadeInUp 3s;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	} 70% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	} 100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}