.mtk7,
.mtk9,
.mtk10 {
  font-style: italic !important;
  font-family: 'Fira Code iScript';
  font-size: 16px !important;
}

.mtki {
  font-style: normal;
}

.mtk1 {
  font-weight: bold !important;
}
